container_commands:
  01_makemigrations:
    command: "python3 manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "python3 manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
